# Regression models: Week 2

# Logarithms and percentages:

The use of logarithms is closely connected to percentage representation. To see this, we will create a new variable simply called *Category* via `mutate()` function. This variable will contain a combination of variable *black* and *married*. The `case_when()` function allows us to encode the values based on the values of the original variables. Next we will group our data using `group_by()` based on the *category* and create means of wages for each category using `summarize()` function.

The difference between the value is interpreted as *percentage difference*. Note that the difference is in geometric means!

In [17]:
6.835102 - 6.650079

[1] 0.185023

In [18]:
data %>%
    mutate(category = case_when(black==1 & married == 1 ~ "black_married",
                                black==1 & married == 0 ~ "black_single",
                                black==0 & married == 1 ~ "non_black_married",
                                black==0 & married == 0 ~ "non_black_single"),
        category = factor(category)) %>%
    mutate(l_wage = log(wage)) %>%
    group_by(category) %>%
    summarize(geometric_mean = exp(mean(lwage)),
             mean = mean(wage))

  category          geometric_mean mean
1 black_married     702.5410        759.7941
2 black_single      574.1590        600.1111
3 non_black_married 929.9235       1007.2797
4 non_black_single  772.8453        841.9756

In [19]:
(929.9235 - 772.8453) / 772.8453 * 100

[1] 20.32466

In [20]:
(1007.2797 - 841.9756) / 841.9756 * 100

[1] 19.63288

### Simple linear regression

The purpose of modelling is to figure out how are the things in the whole population. We take a *random* sample from the population. Imagine for now, that we can simulate our own population.